body {
	font-family: Arial, sans-serif;
	background-color: #f4f4f4;
}

h1 {
	text-align: center;
	margin-top: 50px;
	color: #1c1c1c;
}

table {
	border-collapse: collapse;
	margin: 50px auto;
}

th {
	padding: 20px;
	background-color: #1c1c1c;
	color: #ffffff;
	text-align: center;
	font-size: 18px
